In [46]:
import pandas as pd
import numpy as np
import calendar
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from plotly.offline import init_notebook_mode, iplot

init_notebook_mode(connected=True)

In [4]:
df = pd.read_csv("Unemployment_Rate_upto_11_2020.csv")
df.head()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Region.1,longitude,latitude
0,Andhra Pradesh,31-01-2020,M,5.48,16635535,41.02,South,15.9129,79.74
1,Andhra Pradesh,29-02-2020,M,5.83,16545652,40.90,South,15.9129,79.74
2,Andhra Pradesh,31-03-2020,M,5.79,15881197,39.18,South,15.9129,79.74
3,Andhra Pradesh,30-04-2020,M,20.51,11336911,33.10,South,15.9129,79.74
4,Andhra Pradesh,31-05-2020,M,17.43,12988845,36.46,South,15.9129,79.74

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267 entries, 0 to 266
Data columns (total 9 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Region                                    267 non-null    object
 1    Date                                     267 non-null    object
 2    Frequency                                267 non-null    object
 3    Estimated Unemployment Rate (%)          267 non-null    float64
 4    Estimated Employed                       267 non-null    int64
 5    Estimated Labour Participation Rate (%)  267 non-null    float64
 6   Region.1                                  267 non-null    object
 7   longitude                                 267 non-null    float64
 8   latitude                                  267 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 18.9+ KB

In [10]:
df.isnull().sum()
df.columns

Index(['Region', ' Date', ' Frequency', ' Estimated Unemployment Rate (%)',
       ' Estimated Employed', ' Estimated Labour Participation Rate (%)',
       'Region.1', 'longitude', 'latitude'],
      dtype='object')

In [20]:
df.columns = ["State", "Date", "Frequency", "Estimated unemployment rate", "Estimated employed",
              "Estimated labour participation rate", "Region", "Longitude", "Latitude"]

In [22]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)
df.Date

0     2020-01-31
1     2020-02-29
2     2020-03-31
3     2020-04-30
4     2020-05-31
         ...
262   2020-06-30
263   2020-07-31
264   2020-08-31
265   2020-09-30
266   2020-10-31
Name: Date, Length: 267, dtype: datetime64[ns]

In [24]:
df['Frequency'] = df['Frequency'].astype('category')
df['Region'] = df['Region'].astype('category')

In [28]:
# creating month column by extracting from Date
df['Month'] = df['Date'].dt.month
df['Month_int'] = df['Month'].apply(lambda x: int(x))
df['Month']

0       1
1       2
2       3
3       4
4       5
       ..
262     6
263     7
264     8
265     9
266    10
Name: Month, Length: 267, dtype: int32

In [29]:
# creating month name column form Month column
df['Month_name'] = df['Month'].apply(lambda x: calendar.month_abbr[x])
df['Month_name']

0      Jan
1      Feb
2      Mar
3      Apr
4      May
      ...
262    Jun
263    Jul
264    Aug
265    Sep
266    Oct
Name: Month_name, Length: 267, dtype: object

In [31]:
# deleting month
df.drop(columns='Month', inplace=True)
df.head()

,State,Date,Frequency,Estimated unemployment rate,Estimated employed,Estimated labour participation rate,Region,Longitude,Latitude,Month_name,Month_int
0,Andhra Pradesh,2020-01-31,M,5.48,16635535,41.02,South,15.9129,79.7400,Jan,1
11,Assam,2020-02-29,M,4.41,10088268,40.77,Northeast,26.2006,92.9376,Feb,2
12,Assam,2020-03-31,M,4.77,11542888,46.73,Northeast,26.2006,92.9376,Mar,3
13,Assam,2020-04-30,M,11.06,6830817,29.55,Northeast,26.2006,92.9376,Apr,4
14,Assam,2020-05-31,M,9.55,11367897,48.26,Northeast,26.2006,92.9376,May,5

In [32]:
# to see the description of essential column
table_data = df[['Estimated unemployment rate',
                 'Estimated employed', 'Estimated labour participation rate']]
table_data.describe()

,Estimated unemployment rate,Estimated employed,Estimated labour participation rate
count,257.000000,2.570000e+02,257.000000
mean,12.379144,1.391911e+07,41.740856
std,10.935857,1.361621e+07,7.916609
min,0.500000,1.175420e+05,16.770000
25%,4.770000,2.717528e+06,37.240000
50%,9.820000,9.442093e+06,40.400000
75%,16.830000,2.268803e+07,44.190000
max,75.850000,5.943376e+07,69.690000

In [ ]:
abel = "abel"